{% include analytics.html %}

<!-- Support LaTeX -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['\\(', '\\)'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" async src="{{ site.url }}/js/elevator.js/elevator.min.js"></script>
<script type="text/javascript">
  window.onload = function() {
    var elevatorUp = new Elevator({
      element: document.querySelector('#elevator-up'),
      // targetElement: document.querySelector('#elevator-up-target'),
      duration: 1000 // milliseconds
    });
  }
</script>

{% if page.title == "Resume" %}
<script type="text/javascript">
  $('#btn_byu_undergrad_course').click(function() {
    $('#byu_undergrad_courses_list').toggle('slow', function() {
      // Animation complete.
    });
  });

  $('#btn_byu_grad_course').click(function() {
    $('#byu_grad_courses_list').toggle('slow', function() {
      // Animation complete.
    });
  });  
</script>
{% endif %}
