<div class="svg-container">
	{% if site.footer-links.email %}
		<div class="svg-icon">
			<a href="mailto:{{ site.footer-links.email }}">
				{% include icons/email.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.facebook %}
		<div class="svg-icon">
			<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
				{% include icons/facebook.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.flickr %}
		<div class="svg-icon"> 
			<a href="https://www.flickr.com/{{ site.footer-links.flickr }}">
				{% include icons/flickr.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.github %}
		<div class="svg-icon"> 
			<a href="https://github.com/{{ site.footer-links.github }}">
				{% include icons/github.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.gitlab %}
		<div class="svg-icon"> 
			<a href="https://gitlab.com/{{ site.footer-links.gitlab }}">
				{% include icons/gitlab.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.googleplus %}
		<div class="svg-icon"> 
			<a href="https://plus.google.com/{{ site.footer-links.googleplus }}">
				{% include icons/googleplus.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.hackernews %}
		<div class="svg-icon"> 
			<a href="https://news.ycombinator.com/user?id={{ site.footer-links.hackernews }}">
				{% include icons/hackernews.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.instagram %}
		<div class="svg-icon"> 
			<a href="https://instagram.com/{{ site.footer-links.instagram }}">
				{% include icons/instagram.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.keybase %}
		<div class="svg-icon"> 
			<a href="https://keybase.io/{{ site.footer-links.keybase }}">
				{% include icons/keybase.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.linkedin %}
		<div class="svg-icon"> 
			<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
				{% include icons/linkedin.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.mastodon %}
		<div class="svg-icon">
			<a href="https://{{ site.footer-links.mastodon }}">
				{% include icons/mastodon.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.pinterest %}
		<div class="svg-icon"> 
			<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">
				{% include icons/pinterest.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.reddit %}
		<div class="svg-icon"> 
			<a href="https://www.reddit.com/user/{{ site.footer-links.reddit }}">
				{% include icons/reddit.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.rss %}
		<div class="svg-icon"> 
			<a href="{{ site.baseurl }}/feed.xml">
				{% include icons/rss.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.soundcloud %}
		<div class="svg-icon"> 
			<a href="https://soundcloud.com/{{ site.footer-links.soundcloud }}">
				{% include icons/soundcloud.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.stackoverflow %}
		<div class="svg-icon"> 
			<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
				{% include icons/stackoverflow.html %}
			</a>
		</div>
	{% endif %}

	{% if site.footer-links.tumblr %}
		<div class="svg-icon"> 
			<a href="https://{{ site.footer-links.twitter }}.tumblr.com/">
				{% include icons/tumblr.html %}
			</a>
		</div>
	{% endif %}

	{% if site.footer-links.twitter %}
		<div class="svg-icon"> 
			<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
				{% include icons/twitter.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.youtube %}
		<div class="svg-icon"> 
			<a href="https://youtube.com/{{ site.footer-links.youtube }}">
				{% include icons/youtube.html %}
			</a>
		</div>
	{% endif %}
</div>