<div class="svg-container">
	{% if site.footer-links.email %}
		<div class="svg-icon">
			<a href="mailto:{{ site.footer-links.email }}">
				{% include icons/email.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.github %}
		<div class="svg-icon"> 
			<a href="https://github.com/{{ site.footer-links.github }}">
				{% include icons/github.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.gitlab %}
		<div class="svg-icon"> 
			<a href="https://gitlab.com/{{ site.footer-links.gitlab }}">
				{% include icons/gitlab.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.keybase %}
		<div class="svg-icon"> 
			<a href="https://keybase.io/{{ site.footer-links.keybase }}">
				{% include icons/keybase.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.linkedin %}
		<div class="svg-icon"> 
			<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
				{% include icons/linkedin.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.mastodon %}
		<div class="svg-icon">
			<a href="https://{{ site.footer-links.mastodon }}">
				{% include icons/mastodon.html %}
			</a>
		</div>
	{% endif %}
	{% if site.footer-links.twitter %}
		<div class="svg-icon"> 
			<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
				{% include icons/twitter.html %}
			</a>
		</div>
	{% endif %}
</div>