/*****************************/
/* Index Page title stylings */
/*****************************/

.light-with-bg {
  color: white;
  padding: 0 5px;
  text-shadow: 
    1px 1px 2px black, 
    -1px -1px 2px black,
    -1px 1px 2px black, 
    1px -1px 2px black;
}

.title-text {
  font-size: 1.5em;
}

.title {
  padding: 100px 0;
  text-align:center;
  width: 100%;
}

.inner-shadow {
  box-shadow:
    inset 0px 0px 75px rgba(0,0,0, 1),
    inset 0px 0px 75px rgba(0,0,0, 1);
}

.elevator-button {
  color: $blue;
  &:hover {
    text-decoration: underline;
    opacity: 0.7;
    cursor: pointer;
  }
}

/***************************/
/* Individual title styles */
/***************************/

.index-image {
  width: 250px; 
  padding-top: 25px; 
  padding-bottom: 25px;
}

/* == AHT == */

.aht-title {
  background-color: $white;
  display: flex;
  padding-top: 25px; 
  padding-bottom: 25px;
}

.aht-title-text {
  font-weight: normal;
  margin: 0;
  color: $darkerGray;
}

.aht_title_bg_image {
  width: 350px;
  margin: 0.5em 0;
}

/* == PNNL == */

.pnnl_title {
  background-color: #d47828;
  display: flex;
  align-items: center;
  padding: 0;
}

.pnnl_title_text {
  color: $white;
  margin: 25px;
  float: right;
}

/* == Instructure ==*/

.instructure_title {
  padding: 45px 0px;
}

.instructure_title_bg_image {
  width: 350px;
  margin: 1em 0;
}

.instructure_title_text {
  color: #9b9b9b;
  margin: 0;
  text-align: center;
}

/* == Idea Labs == */

.idea_labs_title {
  padding: 25px 0px;
}

.idea_labs_title_bg_image {
  width: 350px;
  margin: 0.5em 0;
}

.idea_labs_title_text {
  color: $byuBlue; 
}

/* == Microsoft == */

.microsoft_title {
  background: url(images/index/ms_board.png);
  background-size: cover;
  background-position: center center;
}

.microsoft_title_text {
  display: inherit; 
  max-width: 320px; 
  margin: 0 50px; 
  font-weight: normal;
}

/* == Teaching Assistant == */
.ta_title {
  background-size: cover;
  overflow: auto;
  background-color: $byuBlue;
  padding: 25px;
  display: flex;
  align-items: center;
}

.ta_title_text {
  display: inherit;
  font-weight: normal;
  margin: 0;
  color: $white;
}

/* == Life Sciences == */
.ls_title {
  background: url(images/index/life_sciences.png);
  background-size: cover;
  background-position: top center;
  overflow: auto;
}

.ls_title_text {
  display: inherit; 
  max-width: 320px; 
  margin: 0 50px; 
  float: right;
}

/* == Ash */

.ash_title {
  background: url(images/index/me_and_ash.png);
  background-size: cover; 
  background-position: center center;
}

.ash_title_text {
  
}

/* == BYU == */

.byu_title {
  display: flex;
  align-items: center;
  border-color: #025;
  border-width: 10px 0;
  border-style: solid;
  padding: 45px 0;
}

.byu_title_text {
  margin: 0;
  color: $byuBlue;
  max-width: 450px;
}

/* == Paraguay == */

.paraguay_title {
  background: url(images/index/paraguay.png);
  background-size: cover; 
  background-position: center center;
}

.paraguay_title_text {
}

/* == California == */

.california_title {
  background: url(images/index/central_valley.png);
  background-size: cover; 
  background-position: center center;
}

.california_title_text {
}
