
//
// VARIABLES
//

// Import Lato font
@import url('https://fonts.googleapis.com/css?family=Lato');

// Colors
$blue: #0078e7;
$byuBlue: #002255;
$byuBGBlue: #E0EDF9;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #444;
$gray: #666;
$lightGray: #ccc;
$lighterGray: #eee;
$reallyLightGray: hsl(210, 9%, 96%);
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$lato: Lato, Arial, sans-serif;
$georgia: Georgia, serif;

// Set SVG Icon colors
$svg-dark: $darkGray;
$svg-light: $white;

// Mobile breakpoints
// Match sm Pure CSS Grids
@mixin sm {
  @media screen and (max-width: 568px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Match md Pure CSS Grids
@mixin md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin middle {
  @media screen and (max-width: 835px) {
    @content;
  }
}