.tech_container {
  width: 100%;
  overflow: auto;
}

.tech_item {
  float: left;
  margin: 5px 20px;
}

.res-entry {
  margin: 20px 0;
}

.res-title {
    margin: 0;
    font-weight: 700;
}

.res-subtitle {
    margin: 0;
    font-weight: 300;
}

@media screen and (max-width: 35em) {
  .res-title-right {
    text-align: left;
  }
}